.landing-button {
    background:#2F4F4F;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    height: 90vh;
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    transition: 1s;
    color: white;
    text-decoration: none;
    
}
Link{
    text-decoration: none;
}
button:hover {
background:#274242;
color: #fdffff;
}

.buttons {
    display:flex;
}

.artist {
    display: flex;
    flex-wrap: wrap;
}

.artist-div {
    flex: 0 1 200px;
    margin: 10px;

}

.artist-img {
    width: 23vw;
    height: 26vh;
    border-radius: 20px;
    transition: 0.4s
}

.artist-img:hover {
    width: 24vw;
    height: 30vh;
}