.search-history {
    background: #1ea02f;
    border-radius: 13px;
    height: 2.0rem;
    width: 9.0rem;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Dancing Script', cursive;
    transition: 0.4s;
    color: white;
}