.albums {
    display: flex;
    flex-wrap: wrap;

}

.albums-div {
    flex: 0 1 200px;
    margin:10px;
}
.album-img{
    width: 23vw;
    height: 26vh;
    border-radius:20px;
    transition: 0.4s
}
.album-img:hover {
    width: 24vw;
    height: 30vh;
}