.all-search{
    display:flex;
    justify-content: center;
    /* align-items: center */
}
.album-list{
    display:flex;
    justify-content: center;
    /* align-items: center */
}
.album-list li{
    display:flex;
    justify-content:center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width:15vw;
}

.artist-list li{
    display:flex;
    justify-content:center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width:15vw;
}
