ul {
    list-style: none;
}

.header-nav p {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    color: #2F4F4F;
    cursor: default;
}

a {
    text-decoration: none;
}

.header-nav-description {
    margin-right: 1.8rem;
}

.header nav {
    display: flex;
    background: #74ffd1;
    width: 100vw;
    height: 10vh;
    align-items: center;
}

.header-menu {
    display: flex;
    text-decoration: none;
}

.playIcon {
    width: 1.2vw;
    height: 2.8vh;
    color: #FF4500
}

.search-options {
    margin: 1rem;
    cursor: pointer;
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    transition: 1s;
    color: #2F4F4F;
}

.search-options:hover {
    transform: rotate(3deg);
    color: #000000;

}